.footer__column-link {
  display: flex;
  position: relative;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}
.footer__column-link:hover {
  opacity: 0.5;
  transition: opacity 0.5s linear 0s;
}
