.page {
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.content {
  position: relative;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
}

.table_theme_dark {
  background-color: #1f1f1f;
}
.section-title_theme_dark {
  color: white;
  z-index: 2;
  margin-top: 90px;
}
.table__heading_theme_dark {
  color: white;
  z-index: 2;
}
.table__text_theme_dark {
  color: white;
  z-index: 2;
}
.section-subtitle_theme_dark {
  color: white;
  z-index: 2;
}
.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  z-index: 2;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  z-index: 1;
}
.footer {
  display: flex;
  width: 100%;
  position: relative;
  min-height: 350px;
  background-color: #1f1f1f;
  box-sizing: border-box;
}
.footer__columns {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 90%;
  margin: 60px auto 40px auto;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__column {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
  height: 100%;
  color: white;
}
.footer__author {
  margin: 18px auto 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 auto 20px auto;
  width: 100%;
  text-align: start;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto 16px 0;
}

.footer__column-link {
  display: flex;
  position: relative;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}
.footer__column-links:last-child {
  margin-bottom: 16px;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
  margin: auto 10px auto 0;
}
