.page {
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  margin: 0 auto;
  background-color: #f2f2f2;
  overflow: hidden;
}
.logo {
  width: 228px;
  height: 32px;
  z-index: 2;
  white-space: nowrap;
}
.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
}
.header__title {
  max-width: 730px;
  position: relative;
  align-self: center;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  padding: 0;
  margin: 0;
  margin-left: 64px;
}
.header__subtitle {
  padding: 0;
  margin: 0;
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__main-illustration {
  object-fit: cover;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  width: 765px;
  height: 608px;
}
.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}
.content {
  position: relative;
}
.description {
  display: flex;
  position: relative;
  align-content: stretch;
  justify-content: center;
}
.two-columns {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin-top: 100px;
  width: 80%;
  min-height: max-content;
  margin-bottom: 100px;
}
.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
  padding: 0;
}
.two-columns__main-text {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  gap: 30px;
}
.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  max-width: 60%;
}
.section-subtitle {
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  max-width: 60%;
  margin-top: 20px;
}
.table {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.table__cell {
  margin: 0;
  padding: 0;
  position: relative;
  width: 250px;
  margin-top: 60px;
  z-index: 2;
}
.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  justify-content: flex-start;
}
.table__text {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}
.feynman {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 890px;
  margin-top: 100px;
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: bottom left;
}
.feynman__title {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 2;
}
.feynman__subtitle {
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  margin-top: 70px;
}
.feynman__link {
  position: absolute;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
  color: #2f80ed;
  text-decoration: none;
  top: 50%;
}
.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding-bottom: 90px;
}

.table_theme_dark {
  background-color: #1f1f1f;
}
.section-title_theme_dark {
  color: white;
  z-index: 2;
  margin-top: 90px;
}
.table__heading_theme_dark {
  color: white;
  z-index: 2;
}
.table__text_theme_dark {
  color: white;
  z-index: 2;
}
.section-subtitle_theme_dark {
  color: white;
  z-index: 2;
}
.table__cell_theme_dark {
  margin-top: 80px;
  width: 200px;
  z-index: 2;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  z-index: 1;
}
.footer {
  display: flex;
  width: 100%;
  position: relative;
  min-height: 350px;
  background-color: #1f1f1f;
  box-sizing: border-box;
}
.footer__columns {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 90%;
  margin: 60px auto 40px auto;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__column {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
  height: 100%;
  color: white;
}
.footer__author {
  margin: 18px auto 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.logo_place_footer {
  margin-top: 0;
  background-image: url(../images/logo_place_footer.svg);
}
.footer__column-heading {
  margin: 0 auto 20px auto;
  width: 100%;
  text-align: start;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column-links {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto 16px 0;
}

.footer__column-link {
  display: flex;
  position: relative;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
}
.footer__column-links:last-child {
  margin-bottom: 16px;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__column_content_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
  margin: auto 10px auto 0;
}
